@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Gayathri&display=swap');
:root{
--green-color:#7ACC2D;
--white-color:white;
--black-color:black;
--box:0px  0px 2px 1px #e6e5e9;
--text-center:center;

}

html,body{
    padding: 0;
    margin: 0;
    font-family: 'Gayathri', sans-serif;
    height: 100%;
}
.container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
}

.cabezera{
    background-color: var(--green-color);
    height: 50px;
    
}
.navegacion{
    display: flex;
    height: 100%;
    justify-content:space-between;
    align-items: center;
    padding-right: 10px;

}
.navegacion ol{
    display: flex;
    list-style: none;
    padding-right: 10px;
}
.navegacion a{
    text-decoration: none;
    color: var(--white-color);
    padding: 0px 5px;
    font-size: 18px;
}
.img-nav{
    padding-left: 25px;
    padding-top: 5px;
    
}
.link-menu {
    display: none;
}
.content{
    display: grid;
    grid-template-rows: auto auto auto auto;
    /* background-color: red; */
}
.title{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.products{
    height: 300px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    /* align-items: center; */
    justify-content: center;
    gap: 5%;
    background-image: url("../images/curve.png");
    background-position: center top;
    background-size: cover;
    position: relative;
   
} 
.product{
    position: relative;
    z-index: 1;
    top:-50%;
    height: 320px;
    width: 250px;
    background-color: var(--white-color);
    box-shadow: var(--box);
}
.product-image{
    text-align: var(--text-center);
}
.title-produc{
    padding-left: 10px;
}
.product p {
    padding: 5px 10px;
}
.boton{
    text-align: var(--text-center);
    padding-top: 15px;
}
.boton a{
    text-decoration: none;
    padding: 10px 30px;
    /* border: 1px solid greenyellow; */
    color: var(--white-color);
    background-color: var(--green-color);
    border-radius: 2px;
}
.Main-button:hover{
    background-color: #6eab36;

}
.home-product{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content{
    width: 250px;
    height: 260px;
    padding: 0px 60px;
}
.home-img{
    text-align: var(--text-center);
    padding-bottom: 25px;
}
.title-home{
    text-align: var(--text-center);
    padding: 10px 0px;

}
.home-img img{
    width: 150px;
}
.content-mentions{
    height: 400px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
    justify-content: center
}
.title-mentions{
    text-align: var(--text-center);
}
.mentions{
    display: flex;
    justify-content: center;
    height:300px;
    width: 100%;
}
.mention{
    width: 18%;
    padding-left: 10px;

}
.title-mention{
    padding: 5px 5px;
}

.description-metion{
    padding: 0px 5px;
    text-align: justify;
}
footer{
    background-color: #59595f;
    height: 60px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;
}

.content-footer{
    display: flex;
    align-items: center;
    height: 100%;
}
.description-footer{
    font-size: 25px;
    padding-right: 10px;
}
.img-platzi{
    height: 50px;
    
}
.img-platzi img{
    height: 40px;
    border-radius: 50%;
}

.direction{
    display: flex;
}
.direction a{
    color: var(--white-color);
    text-decoration: none;
    font-size: 22px;
    padding-left: 10px;
}
@media screen and (max-width: 1440px){
    .mention{
        width: 240px;
        padding-left: 15px;
    
    }   
    .title-mention{
        padding: 5px 10px;
    }
    .description-metion{
        padding: 0px 10px;
    }
    .description-direction,
    .description-footer{
        font-size: 22px;
    }
    
}
@media screen and (max-width: 768px){
    .title h1{
        font-size: 26px;
    }
    .products{
        height: 600px;
        grid-template-columns: auto;

    }
    .product{
        height:320px;
        width: 320px;
    }
    .title-produc {
        padding-left: 30px;
    }
    .product p {
        padding: 10px 30px;
    }
    .home-product {

        height: 1100px;
        flex-direction: column;
        border-bottom: 2px solid gray;
    }
    .home-content {
        width: 300px;
        height: 260px;
        padding: 30px 0px;
    }
    .content-mentions{
        height: 1200px;
    }
    .title-mentions{
        height: 60px;
    }
    .title-mentions h2{
        padding-top: 30px;
    }

    .mentions{
        flex-direction: column;
        height: 1100px;
        align-items: center;
        justify-content: center;
    }
    .mention{
        padding: 20px 0px;
    }
    footer{
        height: 140px;
        grid-template-columns: auto;
    }
    .content-footer{
        flex-direction: column;
        padding-top: 5px;
        height: 80%;
    }

    
}
@media screen and (max-width: 650px){
    .link-menu {
        display: initial;
    }
    .menu{
        display: none;
    }
    .menu.activate{
        display: flex;
        position:absolute;
        top:0;
        bottom: 60%;
        left:0;
        background: rgba(72, 97, 59, 0.459);
        right: 0;
        justify-content: center;
        align-items: center;
    }
    .navegacion ol{
        flex-direction: column;
        text-align: var(--text-center);
    }
    .title h1{
        padding: 0px 60px;
        text-align: var(--text-center);
    }
}
