@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Gayathri&display=swap');
:root{
--green-color:#7ACC2D;
--white-color:white;
--black-color:black;
--box:0px  0px 2px 1px #e6e5e9;
--text-center:center;

}

html,body{
    padding: 0;
    margin: 0;
    font-family: 'Gayathri', sans-serif;
    height: 100%;
}
.container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
}

.cabezera{
    background-color: var(--green-color);
    height: 50px;
    
}
.navegacion{
    display: flex;
    height: 100%;
    justify-content:space-between;
    align-items: center;
    padding-right: 10px;

}
.navegacion ol{
    display: flex;
    list-style: none;
    padding-right: 10px;
}
.navegacion a{
    text-decoration: none;
    color: #2c2929;
    padding: 0px 5px;
    font-size: 18px;
}
.navegacion a:hover{
    color: var(--white-color);

}
.img-nav{
    padding-left: 25px;
    padding-top: 5px;
    
}
.link-menu {
    display: none;
}
.content{
    display: grid;
    height: 1200px;
    width: 100%;
    grid-template-rows: 20% auto;
    justify-content: center;
}
.title-product{
    display: flex;
    align-items: center;
    padding-left: 5%;
}
.products{
    display:grid;
    align-items: center;
    justify-items: center;
    height: 500px;
    gap: 30%;
}
.product{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto;
    grid-template-areas: "img title " "img description";
    max-width: 1000px;
}
.product-reverse{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto;
    grid-template-areas: "title img " "description img";
    max-width: 1000px;

}
.product-img{
    grid-area: img;
    text-align: center;
}
.title{
    grid-area: title;
    padding-top: 10%;
    
}
.description{
    grid-area: description;

}
footer{
    background-color: #59595f;
    height: 60px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;
}

.content-footer{
    display: flex;
    align-items: center;
    height: 100%;
}
.description-direction{
    font-size: 25px;
}
.description-footer{
    font-size: 25px;
    padding-right: 10px;
}
.img-platzi{
    height: 50px;
    
}
.img-platzi img{
    height: 40px;
    border-radius: 50%;
}

.direction{
    display: flex;
}
.direction a{
    color: var(--white-color);
    text-decoration: none;
    font-size: 22px;
    padding-left: 10px;
}
@media screen and (max-width:1024px){
    .products{
        width: 90%;
    }
    .product-reverse{
        padding-left: 10%;
    }
}
@media screen and (max-width: 768px){

    footer{
        height: 140px;
        grid-template-columns: auto;
    }
    .content-footer{
        flex-direction: column;
        padding-top: 5px;
        height: 80%;
    }

    
}
@media screen and (max-width: 650px){
    .link-menu {
        display: initial;
    }
    .menu{
        display: none;
    }
    .menu.activate{
        display: flex;
        position:absolute;
        top:0;
        bottom: 60%;
        left:0;
        background: rgba(72, 97, 59, 0.459);
        right: 0;
        justify-content: center;
        align-items: center;
    }
    .navegacion ol{
        flex-direction: column;
        text-align: var(--text-center);
    }

}
@media screen and (max-width: 500px){
    .menu.activate{
        right: 0px;
    }
    .content{
        height: 1400px;
    }
    .products{
        gap: 15%;
    }
    .product,.product-reverse {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "img" "title " "description";
        width: 300px;
    }
    .title{
        padding: 5% 0px;
        text-align: var(--text-center);
    }

    .direction{
        flex-direction: column;
        align-items: center;
    }
    
}
@media screen and (max-width: 350px){

    .direction{
        flex-direction: column;
        align-items: center;
    }
    
}